.comboTreeWrapper{
	position: relative;
	text-align: left !important;
}

.comboTreeInputWrapper{
	position: relative;
}

.comboTreeArrowBtn {
	position: absolute;
	top: 0;
	width: 20px;
	padding: 0;
	margin: 0;
}

.comboTreeDropDownContainer {
	display: none;
	background: #fff;
	border: 1px solid #aaa;
	max-height: 250px;
	overflow-y: auto;
	position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.comboTreeDropDownContainer ul{
	padding: 0px;
	margin: 0;
}

.comboTreeDropDownContainer li{
	list-style-type: none;
	padding-left: 15px;
    cursor: pointer;
}

.comboTreeDropDownContainer li:hover{
	background-color: #ddd;}
.comboTreeDropDownContainer li:hover ul{
	background-color: #fff;}
.comboTreeDropDownContainer li span.comboTreeItemTitle.comboTreeItemHover{
	background-color: #418EFF;
	color: #fff;}

span.comboTreeItemTitle{
	display: block;
	padding: 2px 4px;
}
.comboTreeDropDownContainer label{
    cursor: pointer;
	width: 100%;
    display: block;
}
.comboTreeDropDownContainer .comboTreeItemTitle input {
	position: relative;
    top: 2px;
	margin: 0px 4px 0px 0px;
}
.comboTreeParentPlus{
    position: relative;
    left: -12px;
    top: 4px;
    width: 4px;
    float: left;
}
